* {
  box-sizing: border-box;
}

header {
  height: auto;
  border: 1px solid black;
  padding: 5px;
  overflow: hidden;
}

header, footer {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

section {
  border: 2px solid black;
  height: 170px;
  margin-bottom: 10px;
}

footer {
  height: auto;
  padding: 10px;
}

.hamburgerMenu {
  float: right;
  width: 50px;
  border: 2px solid black;
  padding: 3px;
}

.hamburgerMenu hr {
  border: 2px solid black;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.nav ul li {
  float: left;
  border: 1px solid black;
  height: 50px;
  max-width: 100px;
  width: 100%;
  margin-right: 10px;
  display: none;
}

.boxContainer {
  overflow: hidden;
  margin-bottom: 10px;
}

.boxes {
  width: 100%;
  border: 1px solid black;
  height: 100px;
  margin-bottom: 10px;
}

.footerBoxes {
  width: 100%;
  border: 1px solid black;
  height: 100px;
  margin-bottom: 10px;
}

.footerBoxes:last-child,
.boxes:last-child {
  margin-bottom: 0;
}











