/****  MEDIA QUERIES


@media not|only mediatype and (expressions) {
    CSS-Code;
}


// Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400,700|Source+Sans+Pro:400,700');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans';
}

header {
	background-color: #23201f;
	border-bottom: 1px solid #e8e8e8;
	color: #e8e8e8;
	overflow: hidden;
	box-shadow: 0px 0 5px 0 #000;
}

header h1 {
	font-family: 'KG Cold Coffee';
	font-size: 18px;
	padding: 20px 40px 20px 40px;
	text-transform: uppercase;
}

header h1 span {
	font-family: 'CastleTLig';
	font-size: 25px;
	color: #7f7970;
	text-transform: none;
}

a {
	text-decoration: none;
	color: #e8e8e8;
	padding: 45px;
	font-size: 16px;
	line-height: 50px;
}

.link a {
	text-transform: uppercase;
}

.hamburgerMenu {
	position: absolute;
	right: 10px;
	top: 10px;
  	width: 50px;
  	height: auto;
  	padding: 3px;
}

.hamburgerMenu hr {
	background-color: #e8e8e8;
  	padding: 2px;
  	margin: 4px;
  	border-radius: 2px;
}

#coffeeimage {
    background: url(../images/coffee.jpg) no-repeat center;
    background-size: cover;
    width: auto;
    margin: auto;
    overflow: hidden;
    padding: 40px 10px;}

#box1 {
    color: #ffffff;
    margin: 50px;
    text-align: center;
}

#about{
	background-color: #23201f;
	color: #e8e8e8;
	padding: 30px;
	font-size: 15px;
}

#roasting {
	background-color: rgba(232, 232, 232, .9);
	min-height: 100px;
	margin: 20px 5px 10px 5px;
	color: #23201f;
	text-align: center;
}


#products h2 {
	font-family: 'Merriweather';
	font-size: 20px;
	color: #e8e8e8;
}

#products {
	padding: 30px;
}

#product2, #product3, #product4 {
	margin-top: 20px;
}

#product1 h2{
	background-color: #d1aa51;
	padding: 10px;
}

#product2 h2{
	background-color: #ff604e;
	padding: 10px;
}

#product3 h2{
	background-color: #58c2b1;
	padding: 10px;
}

#product4 h2{
	background-color: #3c8bca;
	padding: 10px;
}

#products p {
	padding-left: 10px;
}

form {
	background-color: #e8e8e8;
	min-height: 100px;
}

#social {
	background-color: #6d4e3b;
	min-height: auto;
	padding: 5%;
	overflow: hidden;
}

#social a {
	border: 1px solid #ffffff;
	border-radius: 5px;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 2%;
}

footer {
	background-color: #23201f;
	color: #e8e8e8;
	padding: 10px;
	padding-left: 30px;
	font-size: 10px;
	border-top: 1px solid #e8e8e8;
	box-shadow: 5px 0 0px 0 #000;
}



/***************** desktop below *******************/



@media (min-width: 768px) { 


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #e8e8e8;
	padding: 45px;
	font-size: 16px;
	line-height: 10px;
	float: right;
}

header nav ul li {
	list-style: none;
}

.hamburgerMenu {
  display: none;
}


#box1 p {
	padding: 20px;
}

#box1 p span {
	display: block;
}

#yellow {
	font-family: 'Oswald';
	font-weight: 700;
	text-transform: uppercase;
	background-color: #ffff00;
	padding: 10px 50px;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #d1d100;
}

.greybutton {
	font-size: 20px;
}

#threecolumn {
	padding: 20px;
	display: flex;
}

#column1 {
	width: 33%;
	margin-right: 1%;
	padding: 10px;
	border-right: 2px solid #c6c6c6;
}

#column2 {
	width: 33%;
	margin-right: 1%;
	padding: 10px;
	border-right: 2px solid #c6c6c6;
}


#column3 {
	width: 33%;
	padding: 10px;
}


footer {
	background-color: black;
	color: #fff;
	padding: 20px;
	padding-left: 40px;
	font-size: 10px;
}


}

