/****  MEDIA QUERIES


@media not|only mediatype and (expressions) {
    CSS-Code;
}


// Extra small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open sans';
}

header {
	background-color: #23201f;
	border-bottom: 1px solid #e8e8e8;
	color: #e8e8e8;
	overflow: hidden;
	box-shadow: 0px 0 5px 0 #000;
	position: fixed;
	width: 100%;
	z-index: 4;
	top: 0;
}

header h1 {
	font-family: 'KG Cold Coffee';
	font-size: 18px;
	padding: 20px 40px 20px 40px;
	text-transform: uppercase;
}

header h1 span {
	font-family: 'CastleTLig';
	font-size: 25px;
	color: #7f7970;
	text-transform: none;
	display: none;
}

a {
	text-decoration: none;
	color: #e8e8e8;
	padding: 45px;
	font-size: 16px;
	line-height: 50px;
}

header a:link {
	color: #e8e8e8;
}

header a:visited {
	color: #e8e8e8;
}

header a:hover {
	color: #58c2b1;
}

header a:active {
	color: #58c2b1;
}

.link a {
	text-transform: uppercase;
}

.hamburgerMenu {
	position: absolute;
	right: 20px;
	top: 20px;
  	width: 50px;
  	height: auto;
  	padding: 3px;
}

.hamburgerMenu hr {
	background-color: #e8e8e8;
  	padding: 2px;
  	margin: 4px;
  	border-radius: 2px;
}

#coffeeimage {
    background: url(../images/coffee.jpg) no-repeat center;
    background-size: cover;
    width: auto;
    margin: auto;
    overflow: hidden;
    padding: 40px 10px;
}

#box1 {
    color: #ffffff;
    margin: 50px;
    text-align: center;
	font-size: 20px;
}

#box1 img {
	max-width: 300px;
	max-height: 300px;
	min-width: 200px;
	min-height: 200px;
}

#about{
	background-color: #23201f;
	color: #e8e8e8;
	padding: 30px;
	font-size: 15px;
	overflow: hidden;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.roasting {
	max-width: 200px;
	max-height: 200px;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}


#products h2 {
	font-family: 'Merriweather';
	font-size: 20px;
	color: #e8e8e8;
	letter-spacing: 1px;
}

#products p {
	background-color: #e8e8e8;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
}

#products {
	padding: 30px;
	background: url(../images/brownpaper.jpg) no-repeat center;
    background-size: cover;
    width: auto;
    margin: auto;
    overflow: hidden;
}

#product2, #product3, #product4 {
	margin-top: 20px;
}

#product1 h2{
	background-color: #d1aa51;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

#product2 h2{
	background-color: #ff604e;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

#product3 h2{
	background-color: #58c2b1;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

#product4 h2{
	background-color: #3c8bca;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

form {
	background-color: #23201f;
	min-height: 100px;
	padding: 30px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

form h2 {
	color: #e8e8e8;
	padding-bottom: 40px;
}

form input {
	min-width: 300px;
	padding: 20px;
	margin-bottom: 20px;
	min-width: 74%;
	margin-left: 13%;
	margin-right: 13%;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}

form input.subscribe {
	min-width: 300px;
	background-color: #58c2b1;
	color: #ffffff;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.subscribe:hover {
    background-color: #3c8bca;
    color: white;
}


#social {
	background-color: #6d4e3b;
	min-height: auto;
	padding: 20px;
	text-align: center;
}

#social ul li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}

footer {
	background-color: #23201f;
	color: #e8e8e8;
	padding: 10px;
	padding-left: 30px;
	font-size: 10px;
	border-top: 1px solid #e8e8e8;
	box-shadow: 5px 0 0px 0 #000;
	text-align: center;
}


/***************** desktop below *******************/



@media (min-width: 770px) { 


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #e8e8e8;
	padding: 45px;
	font-size: 16px;
	line-height: 10px;
	float: right;

}

#box1 {
	font-size: 26px;
}

header h1 span {
	display: inline-block;
}

header nav ul li {
	list-style: none;
}

.menu nav ul li{
	position: absolute;
	right: 20px;
	top: 20px;
}

.hamburgerMenu {
  display: none;
}

.roasting {
	max-width: 300px;
	max-height: 300px;
}

#coffeeimage {
    background-image: url(../images/coffee.jpg) no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box1 {
    color: #ffffff;
    margin: 20px;
    text-align: center;
}

#box1 img {
	max-width: 400px;
	max-height: 400px;
}

#products {
	 background-attachment: fixed;
}

form input {
	min-width: 300px;
	min-width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

footer {
	background-color: #23201f;
	color: #e8e8e8;
	padding: 20px;
	padding-left: 40px;
	font-size: 10px;
}


}

